<div class="container">
	<div *ngFor="let subscribeBookdata of subscribeBookdata" class="col-sm-3" >
		<div id="subscribedBooks_thumbnail" class="thumbnail">
			<div class="subscribedBooksImage_alignment">
				<img class="img-responsive" src={{subscribeBookdata.bookDetail.imagePath}} alt="Image">
			</div>
			<div class="subscribedBooksauthor_alignment">
				Author:<strong> {{subscribeBookdata.bookDetail.author}}</strong>
			</div>
			<div class="subscribedBooks_submitbutton_alignment">
				<button (click)="viewDetails(subscribeBookdata.bookDetail.bookId)"
					class="btn btn-success">View Detail</button>
			</div>
		</div>
	</div>
</div>

